//h1 Hello express

!!! 5

html
    head


        script(src="/views/Question.No.16.js")


    body

         ul
            li
               a(href="/Question.No.12") Question.No.12

            li
                a(href="Question.No.16") Question.No.16


