doctype
html
    head
        title Script
        script(src='/scripts/util.js')
        script(src='/scripts/Question.No.12.js')
        script(src='/scripts/Question.No.14.js')
        script(src='/scripts/Question.No.16.js')
        script(src='/scripts/Question.No.19.js')
        script(src='/scripts/Question.No.20.js')

    body







