doctype
html
    head
        title Script
        script(src='/scripts/Question.No.12.js')
        script(src='/scripts/Question.No.14.js')
        script(src='/scripts/Question.No.16.js')
        script(src='/scripts/Question.No.19.js')
        script(src='/scripts/Question.No.20.js')
        script(src='/scripts/util.js')
    body
        script
            dialog("Welcome to the JavaScript questions");
            triangular("");
            collatz("");
            power_digit_sum("");
            counting_sundays("");
            fac_digit_sum("");





